@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
}
body{

  background-color: #f4f7fe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;

  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
